:root{
    --primery-color: #6a1fa0;
    --secondary-color: #052452; 
}
 
.imges {
    margin-right: 0px;
    float: right;
        }
         

        



html {
    font-family: Roboto, sans-serif;
}
*{
    color: var(--secondary-color);
}

h1{
    color: var(--primery-color);
    margin-bottom: 0.25em
}
h2{
    color: var(--secondary-color);
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-top: 2em;
}

a {
    color: var(--primery-color);
    }
.contacts {
        margin-top: 2em;
        margin-bottom: 2em;
    }

.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.5em;
        }
.experience {
    color: var(--secondary-color);
}
    .code{
        margin-top: 2em;
    }
.skill {
    font-family: Verdana, sans-serif;
    color: var(--secondary-color)
}
.code_example {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.5em;
    margin-left: 0em;
    
}
pre {
    color:rgb(77, 4, 4);
    }
.education {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 0.5em;
    }
.education_date{
    margin-right: 1em;
    font-weight: bold;
}
.univercity {
    font-style: italic;
}
